<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">

<head>
	<meta charset="UTF-8">
<title>Travel Record</title>
<link rel="stylesheet" href="/css/navigationBar.css" type="text/css" />
<link rel="stylesheet" href="/css/list.css" type="text/css" />
<link rel="stylesheet" href="/css/listPost.css" type="text/css" />
<link rel="stylesheet" href="/css/lightbox.css" type="text/css" />

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
	<th:block th:replace="fragment/header :: headerFragment"></th:block>

	
	
	<th:block th:replace="fragment/footer :: footerFragment"></th:block>
</body>
</html>