/* h3 : 여행기록 목록  */
#topName {
	margin-bottom: 20px; 
	width: 94%; 
	display: inline-block;
	
}

/* 글쓰기 버튼 */
#writeBtn {
	background-color: yellow; 
	border: 0; 
	border-radius: 5px; 
	padding: 6px 8px 6px 8px;
}

/* 댓글수 배지 */
.badgeReply {
	float:right;
	background-color: #55c9c2;
	border-radius: 6px;
	color:white;
	padding: 2px 4px 4px 2px;
	margin-right: 2px;
}

/* 조회수 배지 */
.badgeView {
	float:right;
	background-color: #f24835;
	border-radius: 6px;
	color:white;
	padding: 2px 4px 4px 2px;
}