<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.record.travel.dao.ReplyMapper">
	<resultMap id="BoardResultMap" type="BoardDto">
		<id property="num" column="num" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="writer" column="writer" />
		<result property="travelDate" column="travelDate" />
		<result property="writeDate" column="writeDate" />
	</resultMap>
	
	<resultMap id="ReplyResultMap" type="ReplyDto">
		<id property="rnum" column="rnum" />
		<result property="num" column="num" />
		<result property="replyText" column="replyText" />
		<result property="replyWriter" column="replyWriter" />
		<result property="writeDate" column="writeDate" />
		<result property="updateDate" column="updateDate" />
	</resultMap>
	
	<select id="readReply" resultType="ReplyDto">
		select * from reply where rnum = #{rnum}
	</select>
	
	<insert id="insertReply" useGeneratedKeys="true" keyProperty="rnum">
		INSERT INTO reply(num, replyText, replyWriter) VALUES
		(#{num}, #{replyText}, #{replyWriter})
	</insert>

	<update id="updateReply">
		UPDATE reply 
		SET
			replyText = #{replyText}, updateDate = now()
		WHERE rnum = #{rnum}
	</update>

	<delete id="deleteReply">
		DELETE FROM reply 
		WHERE
		rnum = #{rnum}
	</delete>

	<select id="selectAllReply" resultMap="ReplyResultMap">
		SELECT * 
		FROM reply 
		WHERE num = #{num}
		order by rnum
	</select>
	
	<!-- 페이징 -->
	<select id="pagingReply" resultMap="ReplyResultMap">
		SELECT * 
		FROM reply 
		WHERE num = #{num}
		order by rnum desc
		<!-- LIMIT #{criteria.page}, #{criteria.perPageNum} -->
	</select>
 	
 	<select id="countReply" resultType="int">
		SELECT count(num)
		FROM reply 
		WHERE num = #{num}
	</select>

</mapper>